* {background:purple;}
.container {background: white;}
.left-column p {
  margin-top: 0;
  margin-bottom: 0;}
.left-column p a {
  font-weight: bold;
  font-size: 17px;
}
.staff-writer {
  font-style:italic;
}
.right-column p {
  font-size: 15px;
}
.caption {
  font-size: 10px;
  color: gray;
  margin-top: 10px;
  margin-bottom: 0px;
}
h1 {
  font-size: 35px;
}
